/* src/styles/HomePage.css */

.main {
  padding: 20px;
  padding-bottom: 60px;
}

.loading,
.error {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.error {
  color: red;
}

.loading {
  color: #555;
}